openapi: 3.2.0
info:
  title: Infer by Flow7 Public Status API
  summary: Authenticated Responses inference plus public catalog and route-status metadata.
  description: 'This description covers Infer''s public paid-beta integration surface: the authenticated Responses endpoint and model list, plus the unauthenticated catalog and status resources. Public registration creates a workspace; the account email must be verified, the live wallet must be funded, and a scoped live API key must be created before paid live inference. Route availability is dynamic, so read the public status resource before sending traffic. Strict supplier-evidence readiness is a separate standard, and Infer does not attest an upstream provider identity.'
  termsOfService: https://infer.flow7.org/terms
  contact:
    name: Infer by Flow7 support
    url: https://infer.flow7.org/support
  version: 0.4.0
  x-infer-access:
    mode: public-paid-beta
    url: https://infer.flow7.org/signup
    automaticWorkspaceCreation: true
    emailVerificationRequired: true
    fundingRequiredForLiveInference: true
servers:
- url: https://infer.flow7.org
  description: Infer's production origin. Read /api/public/status for current route availability.
tags:
- name: Status
  description: Customer-facing service state without private routing topology.
paths:
  /api/public/status:
    get:
      tags:
      - Status
      summary: Read customer-facing route status
      description: Returns an overall state and one state per published service. The simulated field distinguishes sandbox health from live service health. Private route counts, failure domains, and provider identities are not returned.
      operationId: getPublicStatus
      security: []
      responses:
        '200':
          description: Current customer-facing status.
          headers:
            X-Request-ID:
              $ref: '#/components/headers/RequestId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStatus'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  schemas:
    ErrorEnvelope:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
      additionalProperties: false
    PublicServiceStatus:
      type: object
      required:
      - service
      - status
      - p95_latency_ms
      properties:
        service:
          type: string
          description: Published model-family identifier.
        status:
          type: string
          enum:
          - operational
          - unavailable
        p95_latency_ms:
          type:
          - integer
          - 'null'
          minimum: 0
      additionalProperties: false
    PublicStatus:
      type: object
      required:
      - environment
      - simulated
      - updated_at
      - status
      - services
      - note
      properties:
        environment:
          type: string
          enum:
          - sandbox
          - live
        simulated:
          type: boolean
        updated_at:
          type: string
          format: date-time
        status:
          type: string
          enum:
          - operational
          - partial_outage
          - unavailable
        services:
          type: array
          items:
            $ref: '#/components/schemas/PublicServiceStatus'
        note:
          type: string
      additionalProperties: false
    ErrorDetail:
      type: object
      required:
      - code
      - message
      - request_id
      properties:
        code:
          type: string
        message:
          type: string
        request_id:
          type:
          - string
          - 'null'
      additionalProperties: true
  responses:
    InternalError:
      description: Infer could not complete the operation.
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
    RateLimited:
      description: The request rate limit or an API-key spend ceiling was reached.
      headers:
        X-Request-ID:
          $ref: '#/components/headers/RequestId'
        Retry-After:
          description: Delay in seconds supplied for coarse request-rate limits.
          schema:
            type: integer
            minimum: 0
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorEnvelope'
  headers:
    RequestId:
      description: Request correlation identifier generated or safely accepted by Infer.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Infer API key
      description: Workspace API key. Do not place it in a URL, prompt, support request, or public diagnostic output.
externalDocs:
  description: Human-readable Infer API documentation
  url: https://infer.flow7.org/docs
